/* здесь используйте глобальные переменные */

$font-lato: "Lato", "Arial", sans-serif;
$font-oswald: "Oswald", "Arial", sans-serif;
$base-color-text: #000000;
$color-word: #111111;
$addition-color-text: #444444;
$variable-color: #222222;
$base-color-background: #68b738;
$base-layer: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
$color-background: #f2f2f2;
$color-text: #ffffff;
$min-width-mobile: 320px;
$min-width-tablet: 768px;
$min-width-desktop: 1440px;
$background: #cdcdcd;
$rectangle-color: #eaeaea;
$button-color: #5eaa2f;
$button-color-variable: #ebebeb;
$decoration: #e7e7e7;
$color-decorate: #666666;
$background-decoration: #d9d9d9;
$error: #ff8282;
