/* здесь используйте глобальные переменные */

$font-lato: "Lato", "Arial", sans-serif;
$font-oswald: "Oswald", "Arial", sans-serif;
$base-color-text: #000000;
$addition-color-text: #444444;
$base-color-background: #68b738;
$color-background: #f2f2f2;
$color-text: #ffffff;
$min-width-mobile: 320px;
$min-width-tablet: 768px;
$min-width-desktop: 1440px;
$background: #cdcdcd;
$rectangle-color: #eaeaea;
$button-color: #5eaa2f;
$button-color-variable: #ebebeb;
