.contacts {
  width: 100%;
  position: relative;
}

.contacts__position {
  @media (min-width: $min-width-desktop) {
    width: $min-width-desktop;
    margin: 0 auto;
  }
}

.contacts__map {
  position: relative;
  width: $min-width-mobile;
  margin: 0 auto;

  @media (min-width: $min-width-tablet) {
    width: $min-width-tablet;
  }

  @media (min-width: $min-width-desktop) {
    width: $min-width-desktop;
  }
}

.contacts__map-position {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  min-height: 362px;
  background-image: image-set("../../images/location@1x.jpg" 1x, "../../images/location@2x.jpg" 2x, "../../images/location@1x.webp" 1x, "../../images/location@2x.webp" 2x);
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media (min-width: $min-width-tablet) {
    min-width: $min-width-tablet;
    min-height: 400px;
    background-image: image-set("../../images/map-tablet@1x.jpg" 1x, "../../images/map-tablet@2x.jpg" 2x, "../../images/map-tablet@1x.webp" 1x, "../../images/map-tablet@2x.webp" 2x);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  @media (min-width: $min-width-desktop) {
    min-width: $min-width-desktop;
    background-image: image-set("../../images/location-desktop@1x.jpg" 1x, "../../images/location-desktop@2x.jpg" 2x, "../../images/location-desktop@1x.webp" 1x, "../../images/location-desktop@2x.webp" 2x);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  &::after {
    position: absolute;
    content: "";
    top: 38%;
    right: 86px;
    width: 100px;
    height: 100px;
    background-image: image-set("../../images/map-stik@1x.png" 1x, "../../images/map-stik@2x.png" 2x, "../../images/map-stik@1x.webp" 1x, "../../images/map-stik@2x.webp" 2x);
    background-repeat: no-repeat;
    background-size: 57px 53px;

    @media (min-width: $min-width-tablet) {
      top: 146px;
      right: 335px;
      bottom: 0;
      background-image: image-set("../../images/map-stik-tablet@1x.png" 1x, "../../images/map-stik-tablet@2x.png" 2x, "../../images/map-stik-tablet@1x.webp" 1x, "../../images/map-stik-tablet@2x.webp" 2x);
      background-size: 113px 106px;
    }

    @media (min-width: $min-width-desktop) {
      top: 131px;
      right: 432px;
    }
  }
}

.contacts__map iframe {
  min-width: 100%;
  border: none;
  display: block;

  @media (min-width: $min-width-tablet) {
    height: 400px;
  }
}

.contacts__wrapper {
  width: 320px;
  min-height: 112px;
  padding: 26px 20px 27px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (min-width: $min-width-tablet) {
    min-width: $min-width-tablet;
    padding: 62px 70px 59px 70px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $min-width-desktop) {
    max-width: $min-width-desktop;
    z-index: 1;
    position: absolute;
    min-width: 565px;
    padding: 58px 79px;
    margin: 97px 0 0 111px;
    background-color: $color-text;
  }
}

.contacts__subtitle {
  min-width: 140px;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $color-word;
  text-transform: uppercase;

  @media (min-width: $min-width-tablet) {
    max-width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__adress {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $min-width-tablet) {
    max-width: 157px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    font-size: 16px;
    text-align: end;
  }

  @media (min-width: $min-width-desktop) {
    text-align: start;
  }
}
