.logo-icon {
  min-width: 128px;
  min-height: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: 767px) {
    background-image: url("../../images/icons/logo-text-mobile.svg");
    background-repeat: no-repeat;
    background-size: 101px 18px;
    background-position: 50% 43%;
  }
}
