.main-footer {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  min-height: 714px;
  margin-top: auto;

  @media (min-width: $min-width-tablet) {
    min-height: 747px;
  }

  @media (min-width: $min-width-desktop) {
    min-height: 569px;
  }
}

.main-footer--color {
  background: $color-background;
}

.main-footer__wrap {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-color: $color-background;
}

.main-footer__wrapper {
  position: relative;
  width: 280px;
  display: flex;
  padding: 40px 0;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 35px;

  &::after {
    position: absolute;
    content: "";
    bottom: 97px;
    left: 0;
    min-width: 100%;
    height: 1px;
    background: $background-decoration;
  }

  &::before {
    position: absolute;
    content: "";
    top: 82px;
    left: 0;
    min-width: 100%;
    height: 1px;
    background: $background-decoration;
  }

  @media (min-width: $min-width-tablet) {
    min-width: $min-width-tablet;
    padding: 34px 29px 33px 31px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  @media (min-width: $min-width-desktop) {
    min-width: $min-width-desktop;
    padding: 70px 110px;
  }
}

.main-footer__logo {
  min-width: 128px;
  min-height: 24px;
  margin: -1px 0 1px 0;
  background-image: url("../../images/icons/logo-text-mobile.svg");
  background-repeat: no-repeat;
  background-size: 128px 24px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $min-width-tablet) {
    margin: 0;
  }

  @media (min-width: $min-width-desktop) {
    margin-right: 33px;
  }
}

.main-footer__logo-academy {
  width: 100%;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $min-width-tablet) {
    margin: 0;
    width: 168px;
  }

  @media (min-width: $min-width-desktop) {
    width: 162px;
  }
}

.main-footer__logo-academy-link {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $color-decorate;
  text-decoration: none;

  @media (min-width: $min-width-tablet) {
    margin-top: -5px;
  }

  @media (min-width: $min-width-desktop) {
    margin: 0;
  }
}

.main-footer__logo-academy-link:hover .main-footer__icon {
  color: $base-color-background;
}

.main-footer__icon {
  color: $color-decorate;

  &:hover {
    color: $base-color-background;
  }

  &:active {
    color: $base-color-background;
  }

  @media (min-width: $min-width-desktop) {
    margin-top: -1px;
  }
}

.main-footer__social {
  @media (min-width: $min-width-tablet) {
    padding: 30px 125px 30px 160px;
  }

  @media (min-width: $min-width-desktop) {
    padding: 0;
  }
}

.main-footer__social-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 24px;
  list-style-type: none;

  @media (min-width: $min-width-tablet) {
    gap: 24px;
  }
}

.main-footer__social-link-vkontakte {
  color: $color-decorate;

  &:hover {
    color: $base-color-background;
  }

  &:active {
    color: $base-color-background;
    opacity: 0.3;
  }
}

.main-footer__social-link-youtub {
  color: $color-decorate;

  &:hover {
    color: $base-color-background;
  }

  &:active {
    color: $base-color-background;
    opacity: 0.3;
  }
}

.main-footer__social-link-telegram {
  color: $color-decorate;

  &:hover {
    color: $base-color-background;
  }

  &:active {
    color: $base-color-background;
    opacity: 0.3;
  }
}
