/* GLOBAL */
@import "./global/fonts.scss";
@import "./global/variables.scss";
@import "./global/global.scss";
@import "./global/visually-hidden.scss";


/* BLOCKS */
@import "./blocks/page-container.scss";
@import "./blocks/main-header.scss";
@import "./blocks/picture.scss";
@import "./blocks/logo-icon.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-container.scss";
@import "./blocks/button.scss";
@import "./blocks/color-text.scss";
@import "./blocks/features.scss";
@import "./blocks/advantages.scss";
@import "./blocks/sample.scss";
@import "./blocks/form-details.scss";
@import "./blocks/form-text.scss";
@import "./blocks/control-input.scss";
@import "./blocks/catalog-list.scss";
@import "./blocks/catalog-item.scss";
@import "./blocks/catalog-link.scss";
@import "./blocks/catalog-style.scss";
@import "./blocks/contacts.scss";
@import "./blocks/main-footer.scss";
