.advantages {
  min-width: 320px;
  padding: 0;
  margin: 0 20px;
  display: block;
}

.advantages__title {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.advantages__list {
  padding: 40px 0 29px 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-direction: column;

  @media (min-width: $min-width-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $min-width-desktop) {
    display: flex;
    flex-direction: row;
  }
}

.advantages__item {
  margin-bottom: 20px;
  list-style-type: none;
}

.advantages_item--composition {
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/composition.svg");
}

.advantages_item--apperianse {
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/apperianse.svg");
}

.advantages_item--eat {
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/eat.svg");
}

.advantages_item--time {
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/time.svg");
}

.advantages__discription {
  margin: 0;
  margin-left: 80px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  min-width: 200px;
}
