.advantages {
  max-width: $min-width-mobile;
  padding: 20px 19px 22px 20px;
  margin: 0 auto 26px auto;
  display: block;

  @media (min-width: $min-width-tablet) {
    max-width: $min-width-tablet;
    padding: 45px 30px 206px 30px;
    margin: 0 auto;
  }

  @media (min-width: $min-width-desktop) {
    max-width: $min-width-desktop;
    padding: 0 110px;
    margin: 0 auto;
  }
}

.advantages__title {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $min-width-tablet) {
    padding: 0;
    margin-bottom: 72px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
  }

  @media (min-width: $min-width-desktop) {
    padding: 0;
    margin-top: 71px;
  }
}

.advantages__list {
  padding: 40px 0 0 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-direction: column;

  @media (min-width: $min-width-tablet) {
    padding: 0;
    margin: 0 177px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 237px;
  }

  @media (min-width: $min-width-desktop) {
    min-height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 245px;
  }
}

.advantages__item {
  margin: 0;
  list-style-type: none;

  @media (min-width: $min-width-tablet) {
    position: relative;
  }
}

.advantages__number {
  display: none;

  @media (min-width: $min-width-tablet) {
    position: absolute;
    top: -39px;
    left: 115px;
    font-family: $font-oswald;
    font-size: 280px;
    font-style: normal;
    font-weight: 400;
    line-height: 280px;
    display: block;
    color: $color-background;
    z-index: -1;
  }
}

.advantages__item--composition {
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/composition.svg");

  @media (min-width: $min-width-tablet) {
    width: 80px;
    height: 80px;
    background-size: 60px 60px;
    background-position: 50%;
  }
}

.advantages__item--apperianse {
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/apperianse.svg");

  @media (min-width: $min-width-tablet) {
    width: 80px;
    height: 80px;
    background-size: 60px 60px;
    background-position: 50%;
  }
}

.advantages__item--eat {
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/eat.svg");

  @media (min-width: $min-width-tablet) {
    width: 80px;
    height: 80px;
    background-size: 60px 60px;
    background-position: 50%;
  }
}

.advantages__item--time {
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/time.svg");

  @media (min-width: $min-width-tablet) {
    width: 80px;
    height: 80px;
    background-size: 60px 60px;
    background-position: 50%;
  }
}

.advantages__discription {
  margin: 0;
  margin-left: 80px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  min-width: 200px;

  @media (min-width: $min-width-tablet) {
    min-width: 242px;
    margin: 111px 0 57px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
