// .catalog-item {

// }

// .catalog-item--picture {

// }

.catalog-item__title {
  font-family: $font-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.catalog-item__title--color {
  color: #111111;
}

.catalog-item__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

// .catalog-item_button--dropdown {

// }

// .catalog-item__card-wrapper {

// }

// .catalog-item__card-table {

// }

// .catalog-item__card-row {

// }

// .catalog-item__button {

// }
