.catalog-list {
  list-style-type: none;

  @media (min-width: $min-width-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $min-width-desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
