.catalog-item {
  min-height: 209px;
  padding: 20px 20px 24px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  align-items: end;

  @media (min-width: $min-width-tablet) {
    & {
      position: relative;
      max-width: 324px;
      min-height: 430px;
      padding: 0 30px 37px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $color-background;
    }
  }

  @media (min-width: $min-width-desktop) {
    & {
      padding: 0 38px 37px 38px;
    }
  }
}

.catalog-item--picture {
  min-width: 208px;
  padding-top: 79px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../images/icons/plus.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 50% 26px;

  @media (min-width: $min-width-tablet) {
    & {
      padding: 0;
      padding-bottom: 40px;
      background-color: inherit;
      background-position: 50% 52px;
      background-size: 60px;
    }
  }
}

.catalog-item__title {
  max-width: 76px;
  margin: 0 auto 0 0;
  margin-right: auto;
  font-family: $font-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  text-align: left;

  @media (min-width: $min-width-tablet) {
    & {
      min-width: 135px;
      margin: 0;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
  }
}

.catalog-item__title--color {
  min-width: 320px;
  margin: 0 0 9px 0;
  text-align: center;
  color: #111111;

  @media (min-width: $min-width-tablet) {
    & {
      min-width: 170px;
      margin: 50% 0 23px 0;
    }
  }

  @media (min-width: $min-width-desktop) {
    & {
      margin: 61% 0 26px 0;
    }
  }
}

.catalog-item__text {
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $min-width-tablet) {
    & {
      max-width: 170px;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
    }
  }
}

.catalog-item__card-wrapper {
  min-width: 100%;
  padding-bottom: 17px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 13px;

  @media (min-width: $min-width-tablet) {
    & {
      margin-top: auto;
      padding: 150px 1px 23px 0;
      gap: 14px;
    }
  }

  @media (min-width: $min-width-desktop) {
    & {
      margin-bottom: 8px;
      margin-left: -3px;
      gap: 18px;
    }
  }
}

.catalog-item__card-table {
  min-width: 145px;

  @media (min-width: $min-width-tablet) {
    & {
      min-width: 255px;
    }
  }

  @media (min-width: $min-width-desktop) {
    & {
      min-width: 174px;
    }
  }
}

.catalog-item__card-row {
  min-width: 140px;
  max-height: 16px;
  margin: 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $min-width-tablet) {
    & {
      margin: 4px 0 16px 0;
    }
  }
}
