// .contacts {


// }

.contacts--map {
  min-width: 320px;
  min-height: 362px;
  background-image: url("../../images/location@1x.jpg");
  background-repeat: no-repeat;
}

// .contacts__wrapper {

// }

.contacts__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.contacts__adress {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

// .contacts__text {

// }
