// .contacts {


// }

.contacts--map {
  background-image: url("../../images/location@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media (min-resolution: 2dppx) {
  .contacts--map {
    background-image: url("../../images/location@2x.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

@media (min-width: $min-width-mobile) and (max-width: $min-width-tablet) {
  .contacts--map {
    background-image: url("../../images/map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  @media (min-resolution: 2dppx) {
    .contacts--map {
      background-image: url("../../images/map-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }
}

@media (min-width: $min-width-tablet) {
  .contacts--map {
    background-image: url("../../images/location-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  @media (min-resolution: 2dppx) {
    .contacts--map {
      background-image: url("../../images/location-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }
}

.contacts__wrapper {
  min-width: 320px;
  min-height: 460px;
}

.contacts__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.contacts__adress {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

// .contacts__text {

// }
