.control-input {
  position: relative;
  top: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  appearance: none;

  @media (min-width: $min-width-tablet) {
    width: 40px;
    height: 40px;
  }
}

.control-input-checkbox {
  display: block;
  width: 29px;
  height: 30px;
  border: 1px solid $background;
  background: $color-text;

  @media (min-width: $min-width-tablet) {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 43px;
  }
}

.control-input:checked + .control-input-checkbox {
  background: url("../../images/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 19px auto;
  color: $base-color-background;

  @media (min-width: $min-width-tablet) {
    background-size: 23px auto;
    position: relative;
    bottom: 43px;
    margin-right: 272px;
  }
}

.control-input-radiobutton {
  position: relative;
  bottom: 34px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid $background;
  background: $color-text;

  @media (min-width: $min-width-tablet) {
    bottom: 44px;
    width: 40px;
    height: 40px;
  }
}

.control-input:checked + .control-input-radiobutton {
  background: url("../../images/icons/radiobutton.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  color: $base-color-background;

  @media (min-width: $min-width-tablet) {
    background-size: 18px;
  }
}
