.control-input {
  position: relative;
  top: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  appearance: none;

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $min-width-tablet) {
    width: 40px;
    height: 40px;
  }
}

.control-input:checked + .input-checkbox {
  background: url("../../images/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 19px auto;
  color: $base-color-background;

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $min-width-tablet) {
    background-size: 23px auto;
    position: relative;
    bottom: 43px;
    margin-right: 272px;
  }
}

.control-input:checked + .input-radiobutton {
  background: url("../../images/icons/radiobutton.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  color: $base-color-background;

  @media (min-width: $min-width-tablet) {
    background-size: 18px;
  }

  &:disabled {
    opacity: 0.3;
  }
}
