// .features {

// }

.features__wrapper {
  background-color: $color-background;
}

// .features__list {

// }

// .features_item {

// }

.features_item--slim {
  min-width: 50px;
  min-height: 50px;
  background-image: url("../../images/cat-slim.svg");
  background-repeat: no-repeat;
}

.features_item--weight {
  min-width: 50px;
  min-height: 50px;
  background-image: url("../../images/cat-weight.svg");
  background-repeat: no-repeat;
}

.features__title {
  font-family: $font-oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
}

.features__advantages-discription {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $base-color-text;
}

.features_advantages-link {
  font-family: $font-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
}

// .features_advantages-link--all {

// }
