// .features {

// }

.features__wrapper {
  background-color: $color-background;
}

// .features__list {

// }

// .features_item {

// }

.features_item--slim {
  background-image: url("../../images/icons/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.features_item--weight {
  background-image: url("../../images/icons/cat-weight.svg");
  background-repeat: no-repeat;
  background-size: 67px 50px;
}

.features__title {
  font-family: $font-oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
}

.features__advantages-discription {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $base-color-text;
}

.features_advantages-link {
  font-family: $font-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.features_advantages-link--all {
  background-image: url("../../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: 32px 10px;
}
