// .form-details {

// }

.form-details__filter {
  @media (min-width: $min-width-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// .form-details__name {

// }

.form-details__filter-item {
  list-style-type: none;
}

.form-details__filter-item-alternative {
  &:disabled {
    opacity: 0.3;
  }
}

// .form-details_filter--email {

// }

.form-details__contacts-title {
  font-family: $font-oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: $base-color-text;
  text-transform: none;
}

.form-details__additionally-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $min-width-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $min-width-desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

// .form-details__additionally-item {

// }

// .form-details__additionally-checkbox {

// }

.form-details__catalog-item-button {
  font-family: $font-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: $base-color-background;
  color: $color-text;
  border: none;
  text-transform: uppercase;
}

// .form-details__required {

// }
