.form-details {
  width: 280px;
  padding-bottom: 29px;

  @media (min-width: $min-width-tablet) {
    width: 698px;
    padding: 0;
  }

  @media (min-width: $min-width-desktop) {
    width: 1220px;
  }
}

.form-details__filter {
  width: 280px;
  padding: 0;
  margin: 0;
  border-style: none;

  @media (min-width: $min-width-tablet) {
    width: 628px;
  }

  @media (min-width: $min-width-desktop) {
    width: 1220px;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.form-details__filter--line {
  position: relative;

  &::before {
    position: absolute;
    top: -11px;
    left: -1px;
    content: "";
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 2px;
    background: $base-color-background;
    z-index: -1;
  }

  @media (min-width: $min-width-tablet) {
    position: relative;
    margin: 62px 0;
    gap: 15px;

    &::before {
      position: absolute;
      top: -14px;
      left: 0;
      content: "";
      width: 100vw;
      margin-left: calc(50% - 50vw);
      height: 2px;
      background: $base-color-background;
      z-index: -1;
    }
  }

  @media (min-width: $min-width-desktop) {
    margin: 69px auto;

    &::before {
      left: 0;
      width: 100vw;
      margin-left: calc(50% - 50vw);
    }
  }
}

.form-details__filter--lines {
  position: relative;

  &::before {
    position: absolute;
    top: -12px;
    left: 0;
    content: "";
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 2px;
    background: $base-color-background;
    z-index: -1;
  }

  @media (min-width: $min-width-tablet) {
    position: relative;
    margin: 62px 0;
    gap: 15px;

    &::before {
      position: absolute;
      top: -14px;
      left: 0;
      content: "";
      width: 104vw;
      margin-left: calc(50% - 50vw);
      height: 2px;
      z-index: -1;
    }
  }

  @media (min-width: $min-width-desktop) {
    margin: 69px auto;

    &::before {
      left: -41px;
      width: 100vw;
      margin-left: calc(50% - 50vw);
    }
  }
}

.form-details__filter--additionally {
  position: relative;

  &::before {
    position: absolute;
    top: -11px;
    left: 0;
    content: "";
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 2px;
    background: $base-color-background;
    z-index: -1;
  }

  @media (min-width: $min-width-tablet) {
    min-height: 347px;
    margin: 62px 0 0 0;

    &::before {
      width: 100vw;
      top: -14px;
    }
  }

  @media (min-width: $min-width-desktop) {
    min-height: 266px;
    margin: 71px auto 0 auto;
    flex-direction: column;

    &::before {
      position: absolute;
      top: -12px;
      left: -41px;
      content: "";
      width: 100vw;
      margin-left: calc(50% - 50vw);
      height: 2px;
      z-index: -1;
    }
  }
}

.form-details__wrapper {
  max-width: 280px;
  padding: 0 0 24px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $min-width-tablet) {
    min-width: 628px;
    padding: 0 0 70px 0;
    gap: 19px;
  }

  @media (min-width: $min-width-desktop) {
    min-width: 570px;
    padding: 0 0 68px 0;
  }
}

.form-details__name {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 13px;
  align-items: center;
}

.form-details__filter-list {
  padding: 9px 0 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;

  &::before {
    position: relative;
    content: "";
    top: -9px;
    left: 0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 1px;
    background-color: $background-decoration;
  }

  &::after {
    position: relative;
    content: "";
    top: 5px;
    left: 0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 1px;
    background-color: $background-decoration;
  }

  @media (min-width: $min-width-tablet) {
    width: 628px;
    padding: 25px 0 25px 27px;
    margin-bottom: 66px;
    border: 1px solid $decoration;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $min-width-desktop) {
    width: 570px;
    padding: 25px 0 25px 28px;
    margin-bottom: 70px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.form-details__filter-item {
  list-style-type: none;
  height: 30px;

  @media (min-width: $min-width-tablet) {
    height: 40px;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.form-details__input {
  position: relative;
  top: 33px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  appearance: none;

  @media (min-width: $min-width-tablet) {
    width: 40px;
    height: 40px;
  }
}

.form-details__radiobutton {
  position: relative;
  bottom: 34px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid $background;
  background: $color-text;

  &:hover {
    border: 1px solid #bababa;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $min-width-tablet) {
    bottom: 44px;
    width: 40px;
    height: 40px;
  }
}

.form-details__control {
  position: relative;
  top: 33px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  appearance: none;

  @media (min-width: $min-width-tablet) {
    width: 40px;
    height: 40px;
  }
}

.form-details__control:checked + .form-details__input-box {
  background: url("../../images/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 19px auto;
  color: $base-color-background;

  @media (min-width: $min-width-tablet) {
    background-size: 23px auto;
    position: relative;
    bottom: 43px;
    margin-right: 272px;
  }
}

.form-details__input:checked + .form-details__radiobutton {
  background: url("../../images/icons/radiobutton.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  color: $base-color-background;

  @media (min-width: $min-width-tablet) {
    background-size: 18px;
  }
}

.form-details__text:has(.form-details__input:disabled) {
  opacity: 0.3;
}

.form-details__text:has(.form-details__control:disabled) {
  opacity: 0.3;
}

.form-details__filter--email {
  width: 280px;
  margin: 26px 0 25px 0;
  display: flex;
  gap: 15px;
  flex-direction: column;

  @media (min-width: $min-width-tablet) {
    width: 627px;
    position: relative;
    margin: 65px 0 62px 0;
    gap: 15px;

    &::before {
      position: absolute;
      top: -87px;
      left: 0;
      content: "";
      width: $min-width-tablet;
      height: 2px;
      background: $base-color-background;
      z-index: -1;
    }
  }

  @media (min-width: $min-width-desktop) {
    &::before {
      left: 0;
      width: 100vw;
      margin-left: calc(50% - 50vw);
    }
  }
}

.form-details__filter--email-line {
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    position: absolute;
    bottom: 172px;
    left: 0;
    content: "";
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 2px;
    background: $base-color-background;
    z-index: -1;
  }

  @media (min-width: $min-width-tablet) {
    position: relative;
    margin: 0 0 64px 0;
    gap: 19px;

    &::before {
      position: absolute;
      top: -89px;
      content: "";
      z-index: -1;
    }
  }

  @media (min-width: $min-width-desktop) {
    min-width: 1220px;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 80px;

    &::before {
      top: -90px;
      left: 0;
      width: 100vw;
      margin-left: calc(50% - 50vw);
    }
  }
}

.form-details__contacts-title {
  padding: 0 20px;
  margin-left: -20px;
  font-family: $font-oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: $base-color-text;
  background: $color-text;
  text-transform: none;

  @media (min-width: $min-width-tablet) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin: 0 -40px;
  }
}

.form-details__contacts-title--indent {
  max-width: 227px;
  margin-bottom: 35px;

  @media (min-width: $min-width-tablet) {
    min-width: 592px;
    background: $color-text;
    padding: 0 40px;
    margin: 0 -40px 75px -40px;
  }
}

.form-details__info {
  position: relative;
  min-width: 67px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $min-width-tablet) {
    min-width: 628px;
  }

  @media (min-width: $min-width-tablet) {
    min-width: 570px;
  }
}

.form-details__info-width {
  min-width: 50px;
  margin-right: 12px;

  @media (min-width: $min-width-tablet) {
    min-width: 63px;
    margin-right: 13px;
  }
}

.form-details__info-width-min {
  max-width: 67px;
  margin-right: 12px;

  @media (min-width: $min-width-tablet) {
    min-width: 85px;
    margin-right: 13px;
  }
}

.form-details__additionally-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  flex-wrap: wrap;

  @media (min-width: $min-width-tablet) {
    min-height: 105px;
    margin: 57px 0 52px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  @media (min-width: $min-width-desktop) {
    min-width: 1302px;
    height: 100%;
    margin: 57px 0 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0;
  }
}

.form-details__additionally-item {
  height: 30px;

  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $min-width-tablet) {
    height: 40px;
  }

  @media (min-width: $min-width-desktop) {
    min-width: 325px;
    margin-bottom: -69px;
  }
}

.form-details__filter-item-alternative__input {
  position: relative;
  top: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  appearance: none;

  @media (min-width: $min-width-tablet) {
    width: 40px;
    height: 40px;
  }
}

.form-details__input-box {
  display: block;
  width: 29px;
  height: 30px;
  border: 1px solid $background;
  background: $color-text;

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $min-width-tablet) {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 43px;
  }
}

.form-details__catalog-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: $min-width-tablet) {
    justify-content: flex-start;
  }

  @media (min-width: $min-width-desktop) {
    min-height: 54px;
    margin-top: -45px;
  }
}

.form-details__catalog-item-button {
  width: 100%;
  padding: 10px 44px;
  margin: 68px 0 20px;
  font-family: $font-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: $base-color-background;
  color: $color-text;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $button-color;
  }

  &:focus {
    background-color: $button-color;
  }

  &:active {
    background-color: $button-color;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $min-width-tablet) {
    width: 0;
    min-width: 284px;
    padding: 14px 45px;
    margin: 0 60px 0 0;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $min-width-desktop) {
    min-width: 570px;
    margin: 0 80px 0 0;
  }
}

.form-details__required {
  margin-bottom: 2px;
  text-align: center;

  @media (min-width: $min-width-tablet) {
    margin-bottom: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  @media (min-width: $min-width-desktop) {
    margin-bottom: 1px;
  }
}
