.input-radiobutton {
  position: relative;
  bottom: 34px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid $background;
  background: $color-text;

  &:hover {
    border: 1px solid #bababa;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $min-width-tablet) {
    bottom: 44px;
    width: 40px;
    height: 40px;
  }
}
