.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-container__catalog {
  @media (min-width: $min-width-desktop) {
    padding: 0;
  }
}

.main-container__title {
  min-width: 249px;
  padding: 27px 34px 25px 35px;
  margin: 0;
  text-align: center;
  font-family: $font-oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: $base-color-text;

  @media (min-width: $min-width-tablet) {
    padding: 0;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }

  @media (min-width: $min-width-desktop) {
    max-width: 414px;
  }
}

.main-container--form {
  padding: 28px 20px 0 20px;
  text-align: start;

  @media (min-width: $min-width-tablet) {
    padding: 35px 70px 23px 70px;
  }

  @media (min-width: $min-width-desktop) {
    width: 1220px;
    padding: 30px 0 60px 0;
    margin: 0 auto;
  }
}

.main-container__title--form {
  padding: 0;
  margin-bottom: 37px;
  text-align: start;

  @media (min-width: $min-width-tablet) {
    margin: 26px 0 54px 0;
  }

  @media (min-width: $min-width-desktop) {
    min-width: 100%;
    margin: 0 0 55px 0;
  }
}

.main-container__title--catalog {
  position: relative;
  min-width: 320px;
  padding: 28px 42px 40px 20px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 1px;
    background: $button-color-variable;
  }

  @media (min-width: $min-width-tablet) {
    padding: 62px 30px 165px 30px;
    margin: 0;
    text-align: start;

    &::after {
      height: 0;
    }
  }

  @media (min-width: $min-width-desktop) {
    min-width: 100%;
    padding: 30px 110px 165px;
  }
}

.main-container__wrapper {
  max-width: $min-width-mobile;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $min-width-tablet) {
    max-width: $min-width-tablet;
    min-height: 872px;
    padding: 62px 120px 0 120px;
    align-items: flex-start;
  }

  @media (min-width: $min-width-desktop) {
    max-width: $min-width-desktop;
    min-height: 620px;
    padding: 66px 120px 0 190px;
  }
}

.main-container__picture {
  position: relative;
  width: $min-width-mobile;
  height: 302px;

  &::after {
    z-index: -1;
    position: relative;
    content: "";
    bottom: 166px;
    left: 0;
    width: 100vw;
    min-height: 302px;
    display: block;
    margin-left: calc(50% - 50vw);
    background: $base-layer;
  }

  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    width: $min-width-mobile;
    height: 602px;
    background-image: url("../../images/background-cat-mobile@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/background-cat-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }

  @media (min-width: $min-width-tablet) {
    width: 414px;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}

.main-container__wrapper-picture-position {
  position: relative;
  height: 138px;
  bottom: 135px;

  @media (min-width: $min-width-tablet) {
    bottom: 102px;
    right: 90px;
  }

  @media (min-width: $min-width-desktop) {
    bottom: 382px;
    left: 367px;
  }
}

.main-container__title-text {
  padding-bottom: 28px;
  margin: 0;
  font-family: $font-oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $min-width-tablet) {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
  }
}

.main-container__text {
  font-family: $font-oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $base-color-text;
  text-transform: uppercase;

  @media (min-width: $min-width-tablet) {
    min-width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-container__text--form {
  max-width: 226px;
  padding: 0;
  margin-bottom: 39px;

  @media (min-width: $min-width-tablet) {
    margin-bottom: 65px;
  }
}

.main-container__additional-products {
  width: 320px;
  padding: 25px 20px 35px 20px;

  @media (min-width: $min-width-tablet) {
    width: 768px;
    padding: 0 31px 38px 31px;
  }

  @media (min-width: $min-width-desktop) {
    width: 1440px;
    padding: 77px 0 87px 0;
  }
}

.main-container__additional-products-title {
  position: relative;
  padding: 0 20px 0 0;
  margin: 0 0 31px 0;
  font-family: $font-oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $base-color-text;

  &::before {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 2px;
    background: $base-color-background;
    z-index: -1;
  }

  &::after {
    z-index: -1;
    position: relative;
    content: "";
    top: -11px;
    left: -25px;
    display: block;
    width: 104%;
    height: 5px;
    background: $color-text;
  }

  @media (min-width: $min-width-tablet) {
    position: relative;
    max-width: 414px;
    padding: 0 37px 0 39px;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
    background: $color-text;

    &::before {
      position: absolute;
      content: "";
      top: 22px;
      left: 0;
      width: 119vw;
      margin-left: calc(50% - 50vw);
      height: 2px;
      background: $base-color-background;
      z-index: -1;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $min-width-desktop) {
    position: relative;
    min-width: 420px;
    padding: 0 40px;
    margin-left: 70px;

    &::before {
      width: 100px;
      top: 24px;
      left: 0;
    }
  }
}

.main-container__additional-products-wrapper {
  @media (min-width: $min-width-tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $min-width-desktop) {
    padding: 0 110px;
    justify-content: space-between;
    flex-direction: row;
  }
}

.main-container__additional-products-list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;

  &::before {
    position: absolute;
    content: "";
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $background;
  }

  @media (min-width: $min-width-tablet) {
    border: 1px solid $background;
    border-bottom: none;
  }

  @media (min-width: $min-width-desktop) {
    border: none;
  }
}

.main-container__additional-products-item {
  padding: 31px 0 20px 0;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $background;
  }

  @media (min-width: $min-width-tablet) {
    padding: 25px 36px 29px 35px;

    &::after {
      width: 705px;
      margin-left: 0;
    }
  }

  @media (min-width: $min-width-desktop) {
    max-width: 895px;
    padding: 0 0 0 324px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    &::after {
      right: 65px;
      min-width: 895px;
    }
  }
}

.main-container__card-table {
  min-width: 100%;
  padding-bottom: 13px;

  @media (min-width: $min-width-tablet) {
    padding-bottom: 21px;
  }
}

.main-container__card-row {
  display: flex;
  justify-content: space-between;
  min-width: 277px;

  @media (min-width: $min-width-tablet) {
    margin: 0;
    justify-content: flex-end;
  }

  @media (min-width: $min-width-desktop) {
    display: grid;
    grid-template-columns: 131px 112px;
    justify-content: flex-start;
    gap: 112px;
  }
}

.main-container__additional-products-subject {
  position: absolute;
  top: 12px;
  left: -1px;
  font-family: $font-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $variable-color;

  @media (min-width: $min-width-tablet) {
    max-width: 400px;
    padding: 0;
    margin-top: 12px;
    margin-left: 38px;
    font-size: 20px;
    line-height: 20px;
    background-color: $color-text;
  }

  @media (min-width: $min-width-desktop) {
    padding: 13px 0 0 2px;
    margin: 0;
  }
}

.main-container__card-row-price {
  padding: 8px 0 0 0;
  margin-left: -1px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

  @media (min-width: $min-width-tablet) {
    min-width: 80px;
    padding: 0;
    margin-left: 12px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $min-width-desktop) {
    min-width: 132px;
    padding-top: 27px;
    margin-left: auto;
    justify-content: flex-start;
  }
}

.main-container__additional-products-bounty {
  position: relative;
  min-width: 280px;
  min-height: 290px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $color-text;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &::before {
    position: absolute;
    top: 20%;
    left: 36%;
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/icon-present.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $min-width-tablet) {
    min-height: 201px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 125px;

    &::before {
      top: 58px;
      left: 78px;
    }
  }

  @media (min-width: $min-width-desktop) {
    padding: 0 42px 38px 42px;

    &::before {
      top: 20%;
      left: 43%;
    }
  }
}

.main-container__additional-products-bounty--photo {
  margin-top: 34px;

  @media (max-width: 767px) {
    background-image: $base-layer, url("../../images/present@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: $base-layer, url("../../images/present@2x.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }

  @media (min-width: $min-width-tablet) and (max-width: 1439px) {
    margin: 68px 0 36px 0;
    background-image: $base-layer, url("../../images/present-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: $base-layer, url("../../images/present-tablet@2x.jpg");
    }
  }

  @media (min-width: $min-width-desktop) {
    margin: 0 -1px 0 0;
    background-image: $base-layer, url("../../images/present-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 245px 288px;
    background-position: 100%;

    @media (min-resolution: 2dppx) {
      background-image: $base-layer, url("../../images/present-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-size: 245px 288px;
    }
  }
}

.main-container__additional-products-bounty-text {
  max-width: 161px;
  margin: 0 3px 43px 0;

  @media (min-width: $min-width-tablet) {
    padding: 5px 0;
    margin: 0;
    display: flex;
    text-align: left;
  }

  @media (min-width: $min-width-desktop) {
    margin-top: auto;
    text-align: center;
  }
}
