// .main-container {

// }

.main-container__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: $base-color-text;
}

.main-container__wrapper {
  background-color: rgba(104, 183, 56, 0.85);
}

.main-container__title-text {
  font-family: $font-oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.main-container__text {
  font-family: $font-oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $base-color-text;
  text-transform: uppercase;
}

// .main-container__catalog {

// }

// .main-container__additional-products {

// }

.main-container__additional-products-title {
  font-family: $font-oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $base-color-text;
}

// .main-container__additional-products-wrapper {

// }

// .main-container__additional-products-list {

// }

// .main-container__additional-products-item {

// }

// .main-container__card-table {

// }

// .main-container__card-row {

// }

.main-container__additional-products-subject {
  font-family: $font-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.main-container__card-row-price {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.main-container_additional-products-bounty {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background: rgba(104, 183, 56, 0.85);
  color: $color-text;
}

// .main-container_additional-products-bounty--photo {

// }

// .main-container__additional-products-bounty-text {

// }
