.main-footer {
  background-color: $color-background;
}

// .main-footer__wrapper {

// }

.main-footer__logo {
  min-width: 128px;
  min-height: 24px;

  @media (max-width: $min-width-tablet) {
    background-image: url("../../images/icons/logo-text-mobile.svg");
    background-repeat: no-repeat;
    background-size: 124px auto;
  }
}

.main-footer__logo-academy:active {
  opacity: 0.3;
}

.main-footer__logo-academy-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
  text-decoration: none;
}

.main-footer__icon {
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #68b738;
  }
}

// .main-footer__social {

// }

// .main-footer__social-list {

// }

// .main-footer__social-item {

// }

// .main-footer__social-link {

// }

.main-footer__social-link-vkontakte {
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #68b738;
    opacity: 0.3;
  }
}

.main-footer__social-link-youtub {
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #68b738;
    opacity: 0.3;
  }
}

.main-footer__social-link-telegram {
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #68b738;
    opacity: 0.3;
  }
}
