// .main-container {

// }

.main-container__title {
  max-width: 414px;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: $base-color-text;
  text-transform: uppercase;

  @media (min-width: $min-width-tablet) {
    & {
      padding: 65px 20px 40px 100px;
    }
  }
}

.main-container__wrapper {
  min-width: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $min-width-tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

// .main-container__wrapper--picture {

// }

@media (max-width: $min-width-mobile) {
  .main-container__wrapper--picture {
    background-image: url("../../images/background-cat-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 320px 302px;
  }

  @media (min-resolution: 2dppx) {
    .main-container__wrapper--picture {
      background-image: url("../../images/background-cat-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }
}

@media (min-width: $min-width-desktop) {
  .main-container__wrapper--picture {
    background-image: url("../../images/background-cat-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1040px 694px;
  }

  @media (min-resolution: 2dppx) {
    .main-container__wrapper--picture {
      background-image: url("../../images/background-cat-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-size: 1040px 694px;
    }
  }
}

.main-container__title-text {
  padding: 0;
  margin: 0;
  font-family: $font-oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.main-container__text {
  font-family: $font-oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $base-color-text;
  text-transform: uppercase;
}

// .main-container__catalog {

// }

// .main-container__additional-products {

// }

.main-container__additional-products-title {
  font-family: $font-oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $base-color-text;
}

.main-container__additional-products-wrapper {
  @media (min-width: $min-width-tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $min-width-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

// .main-container__additional-products-list {

// }

.main-container__additional-products-item {
  @media (min-width: $min-width-tablet) {
    display: grid;
    grid-template-columns: repeat(1fr);
  }

  @media (min-width: $min-width-desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

// .main-container__card-table {

// }

// .main-container__card-row {

// }

.main-container__additional-products-subject {
  font-family: $font-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.main-container__card-row-price {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.main-container_additional-products-bounty {
  min-width: 280px;
  min-height: 290px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $color-text;
}

.main-container_additional-products-bounty--photo {
  background-image: url("../../images/present@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media (min-resolution: 2dppx) {
  .main-container_additional-products-bounty--photo {
    background-image: url("../../images/present@2x.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

@media (min-width: $min-width-mobile) and (max-width: $min-width-tablet) {
  .main-container_additional-products-bounty--photo {
    background-image: url("../../images/present-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  @media (min-resolution: 2dppx) {
    .main-container_additional-products-bounty--photo {
      background-image: url("../../images/present-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }
}

@media (min-width: $min-width-tablet) {
  .main-container_additional-products-bounty--photo {
    background-image: url("../../images/present-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 245px 288px;
  }

  @media (min-resolution: 2dppx) {
    .main-container_additional-products-bounty--photo {
      background-image: url("../../images/present-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-size: 245px 288px;
    }
  }
}

// .main-container__additional-products-bounty-text {

// }
