.main-footer {
  background-color: $color-background;
}

// .main-footer__wrapper {

// }

// .main-footer__logo {

// }

// .main-footer__social {

// }

// .main-footer__social-list {

// }

// .main-footer__social-item {

// }

// .main-footer__social-link {

// }

// .social-link-vkontakte {

// }

// .main-footer_social-link {

// }

// .main-footer_social-link-vkontakte {

// }

// .main-footer_social-link-youtub {

// }

// .main-footer_social-link-telegram {

// }

// .main-footer__logo-academy {

// }

.main-footer__logo-academy-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $base-color-text;
}
