.main-nav {
  font-family: $font-oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $min-width-tablet) {
    min-height: 26px;
    font-size: 18px;
    line-height: 24px;
  }
}

.main-nav--closed {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 30px;
    right: 1px;
    width: 24px;
    height: 2px;
    background-color: $base-color-text;
    box-shadow: 0 8px 0 0 $base-color-text, 0 16px 0 0 $base-color-text;
  }

  @media (min-width: $min-width-tablet) {
    &::after {
      display: none;
    }
  }
}

.main-nav--closed .main-nav__toggle {
  display: block;
}

.main-nav__toggle {
  position: absolute;
  bottom: 12px;
  right: -11px;
  width: 55px;
  height: 35px;
  border: 0;
  background: 0 0;
  padding: 0;

  @media (min-width: $min-width-tablet) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 28px;
    width: 25px;
    height: 2px;
    transform: rotate(46deg);
    background-color: $base-color-text;
  }

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 28px;
    transform: rotate(-47deg);
    width: 25px;
    height: 2px;
    background-color: $base-color-text;
  }

  @media (min-width: $min-width-tablet) {
    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;

  &::after {
    display: none;
  }

  &::before {
    display: none;
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: $min-width-tablet) {
    z-index: 3;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: 198px;
    margin: 0;
    display: block;
    text-align: center;

    &::before {
      position: relative;
      content: "";
      bottom: 0;
      right: 0;
      min-width: 320px;
      height: 1px;
      display: block;
      background-color: $color-background;
    }
  }
}

.main-nav--opened .main-nav__item {
  @media (max-width: $min-width-tablet) {
    min-width: 100%;
    height: 66px;
    padding: 22px 0 24px 0;
    background-color: $color-text;

    &::before {
      position: relative;
      content: "";
      top: 43px;
      right: 0;
      min-width: 320px;
      height: 1px;
      display: block;
      background-color: $color-background;
    }
  }
}

.main-nav__list {
  padding: 0;
  margin: 15px 5px 0 0;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  gap: 46px;

  @media (min-width: $min-width-tablet) {
    margin: 12px 1px 0 0;
    display: flex;
    flex-direction: row;
    gap: 33px;
  }

  @media (min-width: $min-width-desktop) {
    margin: 8px 1px 0 0;
  }
}

.main-nav__list--position {
  @media (min-width: $min-width-tablet) {
    margin: 12px 1px 0 0;
  }

  @media (min-width: $min-width-desktop) {
    margin: 9px 77px 0 0;
  }
}

.main-nav__item {
  max-width: 500px;
  list-style-type: none;
}

.main-nav__link {
  height: 38px;
  position: relative;
  display: block;
  font-family: $font-oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $base-color-text;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: $min-width-tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $min-width-desktop) {
    font-size: 20px;
    line-height: normal;
  }
}

.main-nav__link--color {
  @media (min-width: $min-width-desktop) {
    color: $color-text;
  }
}

.main-nav__link--active::before {
  @media (min-width: $min-width-tablet) {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $base-color-background;
    top: 32px;
  }

  @media (min-width: $min-width-desktop) {
    top: 36px;
  }
}

.main-nav__link--active-no {
  @media (min-width: $min-width-desktop) {
    &::before {
      position: absolute;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: $color-text;
      top: 35px;
    }
  }
}
