// .sample {

// }

.sample__wrapper {
  background-color: #eaeaea;
}

.sample__title {
  font-family: $font-oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.sample__title-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}


// .sample__info {

// }

// .sample__info-list {

// }

// .sample__info-item {

// }

.sample__info-text {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.sample__info-description {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #444444;
}

.sample__sum {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

// .sample__photo {

// }

// .sample__slider {

// }

// .sample__slider-button {

// }
