.sample {
  z-index: 0;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  min-height: 659px;
  background-color: $rectangle-color;
  position: relative;

  @media (min-width: $min-width-tablet) {
    position: relative;
    min-height: 1081px;
    background: none;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      width: 100%;
      height: 462px;
      background-color: $rectangle-color;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $button-color-variable;
    }
  }

  @media (min-width: $min-width-desktop) {
    min-height: 620px;
    display: flex;
    flex-direction: column;

    &::after {
      z-index: -1;
      background: $color-background;
    }

    &::before {
      display: none;
    }
  }
}

.sample__wrap {
  width: $min-width-mobile;
  margin: 0 auto;

  @media (min-width: $min-width-tablet) {
    width: $min-width-tablet;
    margin: 0 auto;
  }

  @media (min-width: $min-width-desktop) {
    width: $min-width-desktop;
    margin: 0 auto;
  }
}

.sample__wrapper {
  padding: 0 20px 39px 20px;

  @media (min-width: $min-width-tablet) {
    min-height: 619px;
    padding: 45px 30px 0 30px;
    background: inherit;
  }

  @media (min-width: $min-width-desktop) {
    position: relative;
    min-height: 462px;
    max-height: 462px;
    padding: 70px 110px 75px 110px;
  }
}

.sample__title {
  max-width: $min-width-mobile;
  padding: 25px 20px 0 20px;
  margin-top: 0;
  font-family: $font-oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $min-width-tablet) {
    min-width: $min-width-tablet;
    padding: 0 30px;
    margin: 47px 0 15px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $min-width-desktop) {
    max-width: $min-width-desktop;
    padding: 28px 110px 0 110px;
    margin: 0 auto 77px 0;
  }
}

.sample__title-text {
  padding: 10px 0 20px 0;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $addition-color-text;

  @media (min-width: $min-width-tablet) {
    padding: 0;
    margin-bottom: 55px;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  @media (min-width: $min-width-desktop) {
    max-width: 433px;
    margin-bottom: 69px;
  }
}

.sample__info {
  display: grid;
  max-width: 200px;
  gap: 20px;

  @media (min-width: $min-width-tablet) {
    width: 100%;
    display: flex;
    gap: 167px;
  }

  @media (min-width: $min-width-desktop) {
    flex-direction: column;
    gap: 43px;
  }
}

.sample__info-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 32px;

  @media (min-width: $min-width-tablet) {
    min-width: 367px;
    gap: 43px;
  }
}

.sample__info-item {
  position: relative;
  min-width: 124px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("../../images/icons/back.svg");
    background-repeat: no-repeat;
    box-sizing: 162px 72px;
  }

  @media (min-width: $min-width-tablet) {
    min-width: 162px;
    padding: 0;
  }
}

.sample__info-text {
  padding-bottom: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $min-width-tablet) {
    min-width: 48px;
    padding: 15px 0 11px 0;
    font-size: 30px;
    line-height: 37px;
  }
}

.sample__info-description {
  padding: 0;
  margin: 0;
  max-width: 80px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: $addition-color-text;
  text-align: center;

  @media (min-width: $min-width-tablet) {
    max-width: 125px;
    font-size: 14px;
    line-height: 14px;
  }
}

.sample__sum {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $min-width-tablet) {
    font-size: 20px;
    text-align: end;
  }

  @media (min-width: $min-width-desktop) {
    margin-right: 64px;
  }
}

.sample__info-item-sum {
  text-align: center;

  @media (min-width: $min-width-tablet) {
    min-width: 174px;
    padding-top: 12px;
    display: grid;
    gap: -23px;
    grid-template-rows: 29px;
  }

  @media (min-width: $min-width-desktop) {
    min-width: 500px;
    display: flex;
    text-align: start;
  }
}

.sample__photo {
  position: relative;
  width: 100%;
  max-height: 276px;
  padding-top: 19px;

  @media (min-width: $min-width-tablet) {
    position: relative;
    top: 80px;
    left: 74px;
    min-height: 512px;
    display: flex;
  }

  @media (min-width: $min-width-desktop) {
    max-width: 560px;
    position: relative;
    top: -522px;
    left: 660px;
    padding: 0;
  }
}

.sample__photo-1 {
  z-index: 2;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;

  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 50%;
    height: 50%;
    top: 0;
    right: 50%;
    background-color: $rectangle-color;
  }

  @media (min-width: $min-width-tablet) {
    width: 40%;

    &::before {
      width: 62%;
      top: 250px;
      left: 38%;
    }
  }

  @media (min-width: $min-width-desktop) {
    position: absolute;
    width: 50%;

    &::before {
      width: 62%;
      top: 250px;
      left: 38%;
      background-color: $color-background;
    }
  }
}

.sample__photo-2 {
  position: relative;
  content: "";
  bottom: 260px;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    top: 0;
    right: 50%;
    background-color: $rectangle-color;
    z-index: 0;
  }

  @media (min-width: $min-width-tablet) {
    position: absolute;
    content: "";
    right: 148px;
    top: 19px;

    &::after {
      height: 150px;
      background-color: $color-text;
    }
  }

  @media (min-width: $min-width-desktop) {
    position: absolute;
    top: 0;
    left: 0;

    &::after {
      height: 120px;
      right: 32%;
    }
  }
}

.sample__slider {
  width: 4px;
  height: 256px;
  background-color: $color-decorate;
  position: absolute;
  bottom: 0;
  left: 138px;
  border-radius: 2px;
  z-index: 4;

  &::before {
    position: absolute;
    content: "";
    top: 107px;
    right: -18px;
    width: 40px;
    height: 40px;
    border: 2px solid $color-decorate;
    border-radius: 20px;
    background-color: $color-text;
  }

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 18px;
    top: 118px;
    right: -10px;
    mask-image: url("../../images/icons/trigon.svg");
    background-color: $color-decorate;
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: $base-color-background;
  }

  &:hover::before {
    border-color: $base-color-background;
  }

  &:hover::after {
    background-color: $base-color-background;
  }

  &:focus {
    opacity: 0.6;
  }

  &:focus::before {
    opacity: 0.6;
  }

  &:focus::after {
    opacity: 0.6;
  }

  &:active {
    background-color: $base-color-background;
    opacity: 0.6;
  }

  &:active::before {
    border-color: $base-color-background;
    opacity: 0.6;
  }

  &:active::after {
    border-color: $base-color-background;
    opacity: 0.6;
  }

  @media (min-width: $min-width-tablet) {
    height: 100%;
    bottom: -19px;
    left: 278px;

    &::before {
      top: 236px;
      right: -18px;
    }

    &::after {
      top: 246px;
    }
  }

  @media (min-width: $min-width-desktop) {
    bottom: 0;
  }
}

.sample__slider-button {
  min-width: 320px;
  display: none;
  position: absolute;
  top: 45%;
  right: -158px;
  z-index: 3;
}
