.sample {
  width: 100%;

  @media (min-width: $min-width-desktop) {
    display: flex;
    flex-direction: row;
  }
}

.sample__wrapper {
  padding: 25px 20px 40px 20px;
  background-color: #eaeaea;

  @media (min-width: $min-width-tablet) {
    min-height: 619px;
  }

  @media (min-width: $min-width-desktop) {
    min-width: 1440px;
    position: relative;
  }
}

.sample__title {
  padding: 0;
  margin: 0;
  font-family: $font-oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.sample__title-text {
  padding: 40px 0 20px 0;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #444444;

  @media (min-width: $min-width-desktop) {
    max-width: 436px;
  }
}


.sample__info {
  display: grid;
  max-width: 200px;
}

.sample__info-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.sample__info-item {
  min-width: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sample__info-text {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.sample__info-description {
  padding: 0;
  margin: 0;
  max-width: 80px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #444444;
}

.sample__sum {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.sample__photo {
  position: absolute;

  @media (min-width: $min-width-desktop) {
    position: absolute;
    bottom: 37px;
    right: 100px;
  }
}

// .sample__slider {

// }

// .sample__slider-button {

// }
