// .site-list {

// }

// .site-list__item {

// }

.site-list__link {
  position: relative;
  font-family: $font-oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $base-color-text;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.site-list__link--active::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  min-width: 64px;
  height: 2px;
  background-color: #68b738;
}
